<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.mapper.UserMapper">

    <!-- SQL 쿼리 예제 -->
    <select id="findAll" resultType="com.learn.domain.User">
        SELECT id, name, email FROM user
    </select>

</mapper>