body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

header,
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

main {
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  background-color: white;
  width: 300px;
  text-align: center;
}
